doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    script(src="/javascripts/main.js")
    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-116074102-1', 'auto');
      ga('send', 'pageview');
    // End Google Analytics
    meta(name='description', content=metaContent) 
    meta(name='google-site-verification', content='fSZDZoueRvEWkwHzBEB2N7AWIr-3aSTr-Muxn5wDgwU') 
    meta(name='keywords', content=metaContent)
    title=title
    //if IE
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    style.
      .navbar .navbar-nav {
      display: inline-block;
      float: none;
      }
      .alert {
      width:40%; 
      }
      .navbar .navbar-collapse {
      text-align: center;
      }
      }
      .social {
      margin: 0;
      padding: 0;
      }
      .social ul {
      margin: 0;
      padding: 5px;
      }
      .social ul li {
      margin: 5px;
      list-style: none outside none;
      display: inline-block;
      }
      .social i {
      width: 40px;
      height: 40px;
      color: #FFF;
      background-color: #909AA0;
      font-size: 22px;
      text-align:center;
      padding-top: 12px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
      }
      .social i:hover {
      color: #FFF;
      text-decoration: none;
      transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      -ms-transition: all ease 0.3s;
      }
      .social .fa-facebook:hover {
      background: #4060A5;
      }
      .social .fa-twitter:hover {
      background: #00ABE3;
      }
      .social .fa-google-plus:hover {
      background: #e64522;
      }
      .social .fa-github:hover {
      background: #343434;
      }
      .social .fa-pinterest:hover {
      background: #cb2027;
      }
      .social .fa-linkedin:hover {
      background: #0094BC;
      }
      .social .fa-flickr:hover {
      background: #FF57AE;
      }
      .social .fa-instagram:hover {
      background: #375989;
      }
      .social .fa-vimeo-square:hover {
      background: #83DAEB;
      }
      .social .fa-stack-overflow:hover {
      background: #FEA501;
      }
      .social .fa-dropbox:hover {
      background: #017FE5;
      }
      .social .fa-tumblr:hover {
      background: #3a5876;
      }
      .social .fa-dribbble:hover {
      background: #F46899;
      }
      .social .fa-skype:hover {
      background: #00C6FF;
      }
      .social .fa-stack-exchange:hover {
      background: #4D86C9;
      }
      .social .fa-youtube:hover {
      background: #FF1F25;
      }
      .social .fa-xing:hover {
      background: #005C5E;
      }
      .social .fa-rss:hover {
      background: #e88845;
      }
      .social .fa-foursquare:hover {
      background: #09B9E0;
      }
      .social .fa-youtube-play:hover {
      background: #DF192A;
      }
      .glyphicon {
      font-size: 30px;
      }
    block link
    -var selected = name;

  -var menu = { 'URL Decoder': '/decoder/url', 'URL Encoder': '/encoder/url', 'Base64 Decoder': '/decoder/b64', 'Base64 Encoder':'/encoder/b64', 'JWT Decoder':'/decoder/jwt'};
  body
    nav.navbar.navbar-inverse.pull-center
      .container-fluid
        .navbar-header(style='max-width:1000px')
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(style='padding-left:200px', href='#') DevToolZone
        #myNavbar.collapse.navbar-collapse(style='max-width:1000px')
          ul.nav.navbar-nav
            each val, key in menu
              -if (selected === key)
                li.active
                  a(href=val, title=key)= key
              -else
                li
                  a(href=val, title=key)= key	
    .container
      .row
        .col-md-9
          div
            div
              .social(style='float: right;padding-right:80px')
                ul
                  li
                    a(href='https://www.facebook.com/sharer/sharer.php?u=http://devtoolzone.com',onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;", target='_blank', title='Share on Facebook')
                      i.fa.fa-lg.fa-facebook
                  li
                    a(href='https://twitter.com/share?url=http://devtoolzone.com&via=TWITTER_HANDLE&text=Devloper%20tools%20you%20may%20find%20useful', onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;", target='_blank', title='Share on Twitter')
                      i.fa.fa-lg.fa-twitter
                  li
                    a(href='https://www.linkedin.com/shareArticle?mini=true&url=http://devtoolzone.com&title=Share%20on%20LinkedIn', onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;", target='_blank', title='Share on LinkedIn')
                      i.fa.fa-lg.fa-linkedin
                  li
                    a(href='https://plus.google.com/share?url=http://devtoolzone.com', onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;", target='_blank', title='Share on Google+')
                      i.fa.fa-lg.fa-google-plus
              div
                br
                h1=name
                .panel.panel-default(style='max-width:800px; border:0px')
                  value=content
            form
              .form-group
                input#endurl.form-control(type='hidden', name='url' value=serviceEndPoint)
                label(for='input') Input:				 
                textarea#input.form-control(rows='9', style='max-width:800px')
                button#button.btn.btn-primary(type='button', style='margin-top: 25px') #{btnName}
                br
                br
                label(for='output') Output:
                button#copyBtn.btn.btn-link.pull-right(type='button', style='padding-right:60px', onclick='copyToClibboard()')
                  a(href='#', data-toggle='tooltip', data-placement='bottom', title='Copy')
                    span.glyphicon.glyphicon-copy
                textarea#output.form-control(rows='9', style='max-width:800px')
        .col-md-2.hidden-xs(style='width:220px; float: left; padding:0,20,0,0')
          br
          br
          .panel.panel-default
            .list-group
              a.list-group-item.active(href='/decoder/url') Encoder/Decoder
              a.list-group-item(href='/formatter/json') Code Formatter
              a.list-group-item(href='/decompiler/java') Java Tools        
              a.list-group-item(href='/compressjpeg') Image Compressor        
